/bin
/lib
.classpath
.project
.settings/
/target/
/doc/
/src/main/resources/config/hikari.properties
/src/main/resources/config/config.properties
/src/test/resources/config/config.properties
/src/test/resources/config/hikari.properties
/src/test/resources/gatling.conf
