[mysqld]
skip-host-cache
skip-name-resolve
datadir = /var/lib/mysql

key_buffer				= 16M
max_allowed_packet			= 80M
thread_stack				= 192K
thread_cache_size      			= 8

max_connections        			= 400

query_cache_size		 	= 268435456
query_cache_type			= 1
query_cache_limit			= 1048576

innodb_buffer_pool_size			= 8G
innodb_buffer_pool_instances		= 32
innodb_flush_method			= O_DIRECT
innodb_thread_concurrency		= 256

!includedir /etc/mysql/conf.d/
