<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">

	<display-name>computer-database</display-name>

	<context-param>
		<param-name>javax.faces.PROJECT_STAGE</param-name>
		<param-value>Development</param-value>
	</context-param>

	<welcome-file-list>
		<welcome-file>home</welcome-file>
	</welcome-file-list>

	<jsp-config>
		<taglib>
			<taglib-uri>myTags</taglib-uri>
			<taglib-location>/WEB-INF/jsp/myTagLib.tld</taglib-location>
		</taglib>
	</jsp-config>

	<servlet>
		<servlet-name>Computer</servlet-name>
		<servlet-class>com.excilys.computerdatabase.servlets.ComputerServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>Dashboard</servlet-name>
		<servlet-class>com.excilys.computerdatabase.servlets.DashboardServlet</servlet-class>
		<init-param>
			<param-name>page</param-name>
			<param-value>1</param-value>
		</init-param>
		<init-param>
			<param-name>length</param-name>
			<param-value>10</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>Computer</servlet-name>
		<url-pattern>/computer</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Dashboard</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>
</web-app>